automations/n8n-render-workflow.json
{
  "name": "Render Remotion - Sono Cardiovascular",
  "active": false,
  "versionId": "sono-cardio-render-v2",
  "meta": {
    "description": "Workflow N8N com gatilho Webhook POST para renderizar o vídeo Remotion, gerar thumbnail e exportar o MP4 final.",
    "trigger": "POST /webhook/render-sono-cardio",
    "security": "Enviar o header x-render-secret com o mesmo valor configurado em RENDER_WEBHOOK_SECRET no ambiente do N8N.",
    "projectRoot": "Configure PROJECT_ROOT no ambiente do N8N apontando para a raiz montada do repositório. Exemplo em Docker: /app."
  },
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "render-sono-cardio",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "webhook-render-trigger",
      "name": "Gatilho Webhook - Render",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -620,
        0
      ],
      "webhookId": "render-sono-cardio"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "requestId",
              "name": "requestId",
              "type": "string",
              "value": "={{ $json.body?.requestId || $execution.id }}"
            },
            {
              "id": "compositionId",
              "name": "compositionId",
              "type": "string",
              "value": "={{ $json.body?.compositionId || 'SleepTimingCommercial' }}"
            },
            {
              "id": "outputPath",
              "name": "outputPath",
              "type": "string",
              "value": "={{ $json.body?.outputPath || 'downloads/videos/sleep-timing-commercial.mp4' }}"
            },
            {
              "id": "renderCommand",
              "name": "renderCommand",
              "type": "string",
              "value": "={{ 'cd \"' + ($env.PROJECT_ROOT || '/app') + '\" && npm run render && npm run render:still && npm run export' }}"
            },
            {
              "id": "providedSecret",
              "name": "providedSecret",
              "type": "string",
              "value": "={{ $json.headers?.['x-render-secret'] || '' }}"
            },
            {
              "id": "projectRoot",
              "name": "projectRoot",
              "type": "string",
              "value": "={{ $env.PROJECT_ROOT || '/app' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "normalize-render-request",
      "name": "Normalizar payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -360,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "secret-matches",
              "leftValue": "={{ $json.providedSecret }}",
              "rightValue": "={{ $env.RENDER_WEBHOOK_SECRET }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "secret-is-configured",
              "leftValue": "={{ $env.RENDER_WEBHOOK_SECRET }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "validate-render-secret",
      "name": "Validar gatilho",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -100,
        0
      ]
    },
    {
      "parameters": {
        "command": "={{ $json.renderCommand }}"
      },
      "id": "execute-render-pipeline",
      "name": "Renderizar Remotion",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        180,
        -120
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, requestId: $('Normalizar payload').item.json.requestId, compositionId: $('Normalizar payload').item.json.compositionId, projectRoot: $('Normalizar payload').item.json.projectRoot, outputPath: $('Normalizar payload').item.json.outputPath, artifacts: ['downloads/videos/sleep-timing-commercial.mp4', 'downloads/thumbnails/thumbnail.png', 'downloads/exports/manifest.json'], message: 'Renderização concluída e exportada.' } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-success",
      "name": "Responder sucesso",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        470,
        -120
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: false, error: 'unauthorized_trigger', message: 'Gatilho rejeitado. Configure RENDER_WEBHOOK_SECRET no N8N e envie o header x-render-secret correto.' } }}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "respond-unauthorized",
      "name": "Responder não autorizado",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        180,
        120
      ]
    }
  ],
  "connections": {
    "Gatilho Webhook - Render": {
      "main": [
        [
          {
            "node": "Normalizar payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar payload": {
      "main": [
        [
          {
            "node": "Validar gatilho",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar gatilho": {
      "main": [
        [
          {
            "node": "Renderizar Remotion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder não autorizado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Renderizar Remotion": {
      "main": [
        [
          {
            "node": "Responder sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "timezone": "America/Sao_Paulo"
  },
  "tags": [
    {
      "name": "remotion"
    },
    {
      "name": "video-render"
    }
  ]
}
